.header {
  background-color: #36fa88;
  height: 9vh;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-navs {
  width: 40%;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}
.nav {
  justify-self: flex-end;
  margin-right: 3rem;
  color: white;
  font-weight: 800;
  text-decoration: none;
}

#logo {
  align-self: center;
  margin-left: 6px;
  font-size: 1.5rem;
  color: rgb(8, 24, 247);
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro {
  margin: 10vh;
  flex: 1 1 0;
  width: 500px;
  height: 400px;
  min-width: 300px;
  font-size: 1.2rem;
}

#intro h2 span {
  font-weight: 700;
  color: #36fa88;
}
#intro h2 span:hover {
  color: #072cff;
  padding: 3px;
}
#intro span {
  font-size: 1.5rem;
  font-weight: 800;
  color: rgb(0, 0, 250);
}
#intro .contact-me {
  text-align: center;
  margin-top: 20px;
}
#intro a {
  width: 18px;
  height: 18px;
  border: 2px solid #0602fc;
  border-radius: 50%;
  color: white;
  background-color: #00ff6a;
  padding: 2px;
  margin-bottom: 30px;
  text-decoration: none;
}
#intro a:hover {
  padding: 4px;
  color: white;
  background-color: rgb(32, 17, 233);
}

#intro .btn {
  font-size: 20px;
  font-weight: 600;
  width: fit-content;
  height: 38px;
  min-width: fit-content;
  background-color: #36fa88;
  color: rgb(5, 21, 248);
  border-radius: 5px;
  border: whitesmoke;
  margin: 15px;
  padding: 2px;
  display: inline-flex;
  text-align: center;
}
#intro .btn:hover {
  background-color: white;
  color: #00ff6a;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 3px;
  border: 2px solid #072cff;
}

#personal-id img {
  min-width: 300px;
  width: 450px;
  height: 600px;
  flex: 1 1 0;
  border-radius: 20px;
  margin: 0 40px 50px 0;
}

.about {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #10d663;
  font-size: 20px;
}

.about h2 {
  justify-content: center;
  margin: 20px 0px;
  width: 30%;
  margin-left: 30%;
  margin-right: 30%;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 40px;
}
.about > div {
  width: 300px;
  height: 290px;
  margin: 10px;
}

.about div:hover {
  border-radius: 20px;
  background-color: rgb(153, 214, 238);
  border: 3px solid rgb(153, 214, 238);
}
.about div h3 {
  justify-self: center;
  font-weight: 600;
  font-size: 23px;
  color: rgb(2, 6, 252);
}
.about div h3:hover {
  color: rgb(0, 0, 0);
}
.about li {
  list-style: lower-roman;
}
.about li:hover {
  padding-left: 3px;
  color: blue;
  background-color: rgb(113, 192, 175);
}

.projects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.projects > div {
  width: 400px;
  height: 300px;
  justify-content: space-between;
}

.projects div:hover {
  border-radius: 20px;
  color: white;
  background-color: #00ff6a;
  border: 3px solid rgb(108, 133, 141);
  padding: 6px;
  margin-bottom: 5px;
  font-size: 20px;
}
.projects div h3 {
  justify-self: center;
  color: #072cff;
  font-weight: 700;
  font-size: 22px;
}

.projects h2 {
  justify-content: center;
  margin: 20px 0px;
  width: 30%;
  margin-left: 30%;
  margin-right: 30%;
  color: darkgreen;
  font-weight: 900;
  font-size: 40px;
}
.projects div h3:hover {
  color: rgb(0, 0, 0);
  font-size: 25px;
}
.read-me {
  color: white;
  text-align: center;
  font-size: 18px;
  background-color: #0602fc;
  border-bottom: 3px solid slategray;
  border-radius: 25px;
  height: auto;
  width: fit-content;
}

.read-me:hover {
  background-color: whitesmoke;
  color: #0602fc;
  font-size: 20px;
  margin-left: 5px;
}

.follow-me {
  width: 100%;
  height: 300px;
  background-color: rgb(195, 218, 233);
  display: block;
  align-self: center;
  text-align: center;
}
.follow-me div {
  padding-top: 60px;
}
.follow-me .contact-me a {
  text-decoration: none;
  height: 30px;
  width: 30px;
  border: 3px solid blue;
  border-radius: 50%;
  background-color: #00ff6a;
  color: white;
  padding: 5px;
  margin: 8px;
}
.contact-me a:hover {
  background-color: #0602fc;
  padding: 8px;
}
footer {
  display: inline-flex;
  height: 40px;
  margin: 0 auto;
}

@media (min-width: 720px) and (max-width: 950px) {
  #personal-id {
    width: 300px;
  }
}
@media (max-width: 720px) {
  div {
    display: block;
    width: 100%;
  }
  .main-page {
    flex-wrap: wrap;
  }
  #intro {
    height: 100vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  #header-navs {
    display: block;
    height: 15px;
    width: 100%;
  }
  .nav {
    width: 10px;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
  }
}
